# Ignore files without extensions (COFF executables may have no extension)
*
!*.*
!*/

# Non-Coff executables
*.exe
*.out

# VS related ignores
/.vscode/
/.vs/

# Build folders
**/build/

# Compiled libraries
*.o
*.a
*.so
*.obj
*.dll
*.dll.a

# Ignored files (e.g. myScript_IGN.sh). Put _IGN at any point in a file name to ignore it
*_IGN*
